.page-wrapper {
  width: 100vh;
  height: 100vh;
}

.navbar {
  background-color: #003f4f;
}

.navbar a {
  color: white;
}

.navbar a:link {
  color: white;
}

.navbar a:visited {
  color: white;
}

.navbar a:hover {
  color: white;
}

.form-wrapper {
  padding: 20px;
}

.btn {
  margin-top: 20px;
  background-color: #003f4f;
  color: white;
}

.btn:hover {
  background-color: #003f4f;
  color: white;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.about-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  color: #003f4f;
}

.section-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map {
  display: none;
  max-height: 450px;
}
.active {
  display: flex;
  flex-direction: column;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  margin-right: 15px;
}

.btn:disabled {
  background-color: #808080;
  color: white;
  cursor: not-allowed;
}

.git-picture {
  height: 150px;
  margin: 5px;
}

.git-picture img {
  max-height: 150px;
}

.pages a {
  color: #003f4f;
  text-decoration: none;
  font-weight: bold;
}

.pages a:link {
  color: #003f4f;
  text-decoration: none;
  font-weight: bold;
}

.pages a:visited {
  color: #003f4f;
  text-decoration: none;
  font-weight: bold;
}

.pages a:hover {
  color: #808080;
  text-decoration: none;
  font-weight: bold;
}
