.page-wrapper {
  width: 100vh;
  height: 100vh;
}

.navbar {
  background-color: #003f4f;
}

.navbar a {
  color: white;
}

.navbar a:link {
  color: white;
}

.navbar a:visited {
  color: white;
}

.navbar a:hover {
  color: white;
}

