.page-wrapper {
  width: 100vh;
  height: 100vh;
}

.navbar {
  background-color: #003f4f;
}

.navbar a {
  color: white;
}

.navbar a:link {
  color: white;
}

.navbar a:visited {
  color: white;
}

.navbar a:hover {
  color: white;
}

.form-wrapper {
  padding: 20px;
}

.btn {
  margin-top: 20px;
  background-color: #003f4f;
  color: white;
}

.btn:hover {
  background-color: #003f4f;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.about-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  color: #003f4f;
}

.video-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
